<div class="row-container">

  <mat-form-field>
    <input matInput placeholder="Header" [(ngModel)]="formatData.header">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Body" [(ngModel)]="formatData.body">
  </mat-form-field>


  <mat-form-field>
        <input matInput placeholder="Footer" [(ngModel)]="formatData.footer">
  </mat-form-field>

  <mat-form-field class="token-selection-list">
    <mat-chip-list #chipList aria-label="Token selection">
      <mat-chip
        *ngFor="let token of tokens"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(token)">
        {{token}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Enter Format..."
        #tokenInput
        [formControl]="tokenCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let token of filteredTokens | async" [value]="token">
        {{token}}
      </mat-option>
    </mat-autocomplete>
<!--     <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-optgroup *ngFor="let group of tokenGroupOptions | async" [label]="group.model">
        <mat-option *ngFor="let token of group.tokens | async" [value]="token">
          {{token}}
        </mat-option>
    </mat-optgroup>
    </mat-autocomplete -->
  </mat-form-field>

</div>
<mat-action-row>
  <button mat-button color="primary" >Add Line</button>
  <button mat-button color="warn" >Delete Line</button>
</mat-action-row>
