<div class="row-container">

  <mat-form-field>
    <input [(ngModel)]="Line1" matInput placeholder="Header">
  </mat-form-field>


  <mat-form-field>
    <input [(ngModel)]="Line2" matInput placeholder="Body">
  </mat-form-field>


  <mat-form-field>
        <input [(ngModel)]="Line3" matInput placeholder="Footer">
  </mat-form-field>


</div>
<mat-action-row>
  <button mat-button color="primary" (click)="AddLine()">Add Line</button>
  <button mat-button color="warn" (click)="DeleteLine()">Delete Line</button>
</mat-action-row>
