<mat-accordion class="example-headers-align" multi="true">
        <mat-expansion-panel  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Format
            </mat-panel-title>
            <mat-panel-description>
              Header, Footer, Body Format for Output
              <mat-icon>notes</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-format></app-format>
        </mat-expansion-panel>

        <mat-expansion-panel  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Format
            </mat-panel-title>
            <mat-panel-description>
                Header, Footer, Body Format for Summary
              <mat-icon>notes</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-format></app-format>
        </mat-expansion-panel>

        <mat-expansion-panel  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Validation
            </mat-panel-title>
            <mat-panel-description>
              Date Validation
              <mat-icon>check_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-validate></app-validate>
        </mat-expansion-panel>

      </mat-accordion>
