<div class="row-container">

  <mat-form-field>
    <input matInput placeholder="Validation" [(ngModel)]="validationData.rule">
  </mat-form-field>


  <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let errorType of ErrorTypes" [(ngModel)]="errorType.value">
        {{errorType.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
        <input matInput placeholder="Message" [(ngModel)]="validationData.message">
  </mat-form-field>


</div>

<mat-action-row>
  <button mat-button color="primary">Add Validation</button>
  <button mat-button color="warn">Delete Validation</button>
</mat-action-row>
