<div class="row-container">

  <mat-form-field>
    <input matInput placeholder="Validation" value="{{validationData.rule}}">
  </mat-form-field>


  <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let errorType of ErrorTypes" [value]="errorType.value">
        {{errorType.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
        <input matInput placeholder="Message" value="{{validationData.message}}">
  </mat-form-field>


</div>

<mat-action-row>
  <button mat-button color="primary" (click)="nextStep()">Add Validation</button>
  <button mat-button color="warn" (click)="DeleteValidation()">Delete Validation</button>
</mat-action-row>
